.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
  text-align: center;
  margin-top: 66px;
}

.Contact hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: black;
}

.Social {
  margin: 15px;
  color: black;
  background-color: white;
  border-radius: 3px;
  padding: 5px;
}

.BackHome {
  border-radius: 3px;
  border: none;
  background-color: black;
  padding: 1.3rem;
  color: white;
  cursor: pointer;
  display: block;
}

/* #trash:hover {
  background-color: black;
  color: white;
  border-radius: 3px;
} */

.BackHome:focus {
  outline: none;
}

.Contact code {
  font-size: 1.5rem;
}
