html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", san-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-color: #030303 white; /* thumb and track color */
  scrollbar-width: thin;
}

/* (scroll bar values chosen for visual consistency with Firefox) */

*::-webkit-scrollbar {
  width: 7.5px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background: #030303;
  border-right: 0 solid white;
}

/* Dark theme when switched the toggle on */
.dark-theme {
  background-color: #282828;
  color: white;
}
